.naming {
  text-decoration: none;
  color: #5F5D5D;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  padding: 1rem 3rem 0 3rem;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.card {
  border-radius: 20px;
  background: #BCD7FE;
  color: #415DA5;
  margin: 3%;
  width: 30%;
}

.card-title {
  font-weight: 410;
  font-size: 1.3rem;
}
