<nav *ngIf="this.router.url!='/log-in'" class="bar" >
    <div class="circle">
        <img class="logo" src="assets/images/Company-Logo.png"  alt="">    
    </div>
    
    <a 
        class="nav-button"
        [class.here]="this.router.url == '/home'"
        href="/home"> Home 
        <div *ngIf="this.router.url == '/home'">
            <img class="" src="assets/images/under-line.svg"  alt="">
        </div>
    </a>

    <a 
        class="nav-button"
        [class.here]="this.router.url == '/map'"
        href="/map"> 3D Map 
        <div *ngIf="this.router.url == '/map'">
            <img class="" src="assets/images/under-line.svg"  alt="">
        </div>
    </a>

    <a 
        class="nav-button"
        [class.here]="this.router.url == '/create'"
        href="/create"> Create meeting
        <div *ngIf="this.router.url == '/create'">
            <img class="" src="assets/images/under-line.svg"  alt="">
        </div>
    </a>

  <a 
        class="nav-button"
        (click)="logOutFromGoogle()"> Log Out </a>
</nav>




