.formular {
  display: flex;
  flex-flow: column wrap;
  max-width: 60%;
  justify-content: space-evenly;
  margin-left: 20%;
}

.flex-ro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex_item {
  flex: 0 0 20%;
}