
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formular">

  <div class="meeting-title">
    <input  class="title-input" placeholder="Add title" formControlName="meetingTitle">
  </div>


  <div class="flex-ro">
    <div class="">
      <label>Meeting Start Date</label>
      <input class="input-field" type="date" formControlName="meetingDate" />
      
    </div>

    <div class="flex-ro">
      <input class="input-field"  type="time" placeholder="start time" formControlName="startTime">
    </div>

    -

    <div class="flex-ro">
      <input class="input-field"  type="time" placeholder="end time" formControlName="endTime">
    </div >
  </div>

  <div class="flex-ro" formArrayName="emails">
    invitees
    <div *ngFor="let email of emails.controls; let emailId=index">
      <div >
        
        <input class="input-field" type="email"  [formControlName]="emailId" placeholder="Ex. pat@example.com">
      </div>
    </div>

    <button  color="primary" (click)="addNewEmail()">Add Email</button>

  </div>


  <div class="flex-ro">
    <label>Meeting Room</label>
    <select
      formControlName="roomName"
      class="input-field"
      name="roomName">
      <option value="" disabled selected>Select a room</option>
      <option *ngFor="let room of rooms" [value]="room.value">
        {{room.viewValue}}
      </option>
    </select>
  </div>

      <button   type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
