
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formular">

  <div class="meeting-title">
    <input  class="title-input" placeholder="Add title" formControlName="meetingTitle">
  </div>


  <div class="flex-ro">
    
    <img class="hint-icon" src="assets/images/create-meeting/calendar.svg" alt="">
    <div class="date-input">
      <input class="input-field" type="date" formControlName="meetingDate" />
    </div>

    <img class="hint-icon" src="assets/images/create-meeting/clock.svg" alt="">
    <input class="input-field"  type="time" placeholder="start time" formControlName="startTime">

    <p class="time-minus"></p>

    <input class="input-field"  type="time" placeholder="end time" formControlName="endTime">

  </div>

  <div class="flex-ro">

    <img class="hint-icon" src="assets/images/create-meeting/pin.svg" alt="">
    
    <select
      formControlName="roomName"
      class="input-field"
      name="roomName">
      <option value="" disabled selected>Select a room</option>
      <option *ngFor="let room of rooms" [value]="room.value">
        {{room.viewValue}}
      </option>
    </select>
  </div>

  <div class="flex-ro" formArrayName="emails">

    <img class="hint-icon" src="assets/images/create-meeting/people.svg" alt="">

    <div *ngFor="let email of emails.controls; let emailId=index">
        <input class="input-field" type="email"  [formControlName]="emailId" placeholder="Ex. pat@example.com">
    </div>

    <div  (click)="addNewEmail()">
      <img class="hint-icon" src="assets/images/create-meeting/add.svg" alt="">
    </div>

  </div>

  <div class="save-flex">
    <button class="submit-button" type="submit" [disabled]="!profileForm.valid">Save</button>
  </div>
  
</form>
